@import url("reset.css");
.wrapper {
  overflow: clip;
  min-height: 100%;
}
body {
 font-family: 'Inter', sans-serif;
 background-color: #E5E5E5;
}

[class*="__container"]{
	max-width: 1200px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
.header{
	background-color: #fff;
	font-weight: 600;
	line-height: 1.5;
}
.header__container{
	padding: 30px 0;
}

.header__categories{
display: inline-block;
vertical-align: middle;
margin-right: 45px;
position: relative;
padding-top: 15px;
padding-bottom: 15px;
}
.header__logo{
	display: inline-block;
	vertical-align: middle;
	margin-right: 44px;
}
.categories__link{
	position: relative;
	padding-right: 40px;
	padding: 9px 43.81px;
	border-radius: 5px;
	
}
.categories__link::after{
	content: "";
	display: block;
	background: url("../img/arrow.svg") 0 0 / 100% no-repeat;
	width: 11px;
	height: 6px;
	position: absolute;
	top: 50%;
	right: 20px;
	margin-top: -2px;
	
}
.categories__sub-categories{
	width: 180px;
  position: absolute;

}
.header__categories:hover .sub-categories__list{
	opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.categories__link:hover{
	background-color: #F4F7FF;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.sub-categories__list{
	background-color: #fff;
	position: absolute;
	padding-top: 24px;
	padding-bottom: 24px;
	border-radius: 5px;
	border: 1px solid #E7E7E7;
	box-shadow: 0px 4px 4px 0px #00000040;
	left: 0;
	top: 100%;
	font-weight: 500;
	color: #637381;
	margin-top: 15px;

	opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.3s;
}

.sub-categories__item:not(:last-child){
	margin-bottom: 13px;
}
.header__menu {
	display: inline-block;
	vertical-align: middle;
	margin-right: 154.2px;
}
.menu__item{
	display: inline-block;
}
.menu__item:not(:last-child){
	margin-right: 35px;
}
.sub-categories__link:hover{
	color: #3056D3;
}
.menu__link:hover{
	color: #3056D3;
}
.menu__link-down{
	position: relative;
}
.menu__link-down::after{
	content: "";
	display: block;
	background: url("../img/arrow.svg") 0 0 / 100% no-repeat;
	width: 11px;
	height: 6px;
	position: absolute;
	top: 50%;
	right: -17px;
	margin-top: -2px;
	
}
.header__actions{
	display: inline-block;
}
.actions__item:not(:last-child) {
	margin-right: 20px;
}
.actions__item {
	font-size: 16px;
	display: inline-block;
	vertical-align: middle;
	position: relative;
}
.actions__value{
	position: absolute;
    top: -5px;
    right: -7px;
    border-radius: 50%;
    background-color: #3056D3;
    color: #fff;
    width: 16px;
    height: 16px;
    text-align: center;
    font-size: 11px;
    font-weight: 400;
    line-height: 16px;
}
.sub-categories__item-down{
	position: relative;
	padding-right: 15px;
}

.sub-categories__item-down::after{
	content: "";
	display: block;
	background: url("../img/arrow.svg") 0 0 / 100% no-repeat;
	width: 11px;
	height: 6px;
	position: absolute;
	top: 50%;
	right: 17px;
	margin-top: -2px;
	transform: rotate(-90deg);

}
.sub-sub-categories__title{
	color: #212B36;
	font-weight: 600;
}
.sub-sub-categories__item:hover{
	color: #3056D3;
}
.sub-sub-categories{
	width: 180px;
	background-color: #fff;
	position: absolute;
	border-radius: 5px;
	border: 1px solid #E7E7E7;
	box-shadow: 0px 4px 4px 0px #00000040;
	left: 175px;
	top: -23px;
	font-weight: 500;
	color: #637381;
	padding: 24px;
	

	
	opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.3s;
}

.sub-sub-categories__item:not(:last-child){
	margin-bottom: 13px;
}
.sub-sub-categories__title{
	margin-bottom: 13px;
}

.sub-categories__item-down:hover .sub-sub-categories{
	opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.sub-categories__item{
	padding-left: 24px;
	padding-right: 24px;
}
